# General
logs
*.NavData
*.DS_Store

# Java class files.
*.class

# Mobile Tools for Java (J2ME).
.mtj.tmp/

# Package files.
*.jar
*.war
*.ear

# Virtual machine crash logs.
hs_err_pid*

# Eclipse IDE.
.settings
.metadata
.project
.classpath
.buildpath
Servers
bin

# Netbeans IDE.
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Intellij IDEA IDE.
*.iml
*.iws
*.ipr
.idea/

# Maven build tools.
target
